.container {
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.post-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    justify-content: center;
    width: 100%;
}

.post-input {
    border: 1px solid darkblue;
    height: 2rem;
    width: 100%;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-add {
    margin-top: 15px;
    background: darkgreen;
}

.post-header {
    display: flex;
    column-gap: 2rem;
}
