body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#root {
    width: 100%;
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: none !important;
}

button {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    cursor: pointer;
}

