.post {
    border: 1px solid blue;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.post * {
    margin: 0;
}

.post-title {
    font-size: 1.75rem;
}

.post-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.post-open {
    background: darkblue;
}

.post-delete {
    background:red;
}